


*{
    font-family: "Edu AU VIC WA NT Guides", cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

  
  /* background-image: url(Photos1/desgin.jpg);*/
 


    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#35374B ;
    display: flex;
    flex-direction: column;
    align-items: center;

    

}


header {
  background-color: #295802;  /* bakgrundsfärgen för header */
    color: #aa7ea1; 
    padding: 20px; 
    text-align: center; /* Centrerar texten i header */
    position: fixed;
    width: 100%;
    box-shadow: 00 20px rgb(37,73 ,214,0.18);
    border-radius: 20px;
    

    


    
}
.social a {

    font-size: 1.9cm;
    padding-right: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 3s;
    display: inline-block;
    transition: 2s;
    margin-left: 50px;
    color: rgb(187, 192, 206);
    margin-top: 20%;
    margin-left: 10%;
    padding-left: 5%;
    padding-inline: 2%;

  

}
.social a :hover {
  color: #77046e;

 font-size: 1.9cm;
 padding-right: 30px;
 margin-right: 10px;
 cursor: pointer;
 transition: 3s;
 display: inline-block;
 transition: 2s;
 transform: rotate(360deg);


}


footer { /* Sidans fotnot */
    background-color: #a12e11; 
    color: #1b0963; 
    text-align: center; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; /* Gör fotnoten lika bred som skärmen */
    box-shadow: 00 20px rgba(158, 5, 189, 0.18);
    border-radius: 20px;
}

nav {
    width: 100%;
    background-color: rgba(138, 97, 49, 0.8);
    background-position: cover;
    padding: 10px 0;
    
}

nav ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0%;
    padding: 0;
    background-color: rgb(5, 139, 201);
    
}

nav ul li {
    flex-grow: 1; 
    text-align: center; 
    background-color: #034e4b;
}


  .project {
    text-align: center; /* Centrera texten i projekten */
    display: flexbox;
    padding-top: 10%;
    
  }
  .project p{
    text-align: center;
  }
  .arbetslivs ul{
    text-align: center;
  }
.arbetslivs small{
    text-align: center;
    width: 20%;
    
}
.arbetslivs h3{
text-align: center;

}
    
 

 img {
  
  width: 15%;
  margin: 0%;
  margin-top: 20%;
padding-top: 30%;

text-align: center;
background-color: aquamarine;
color: aquamarine;

box-shadow: 0 0 20px rgba(240, 236, 237, 0.18);
border-radius: 60px;



}

section .info{
  width: 800%;
margin-right: 800%;
box-shadow: 0 0 20px rgba(40, 241, 33, 0.18);
border-radius: 100px;

}
section .info img{
  width: 200%;
  margin-top: 200%;
  margin-left: 100%;
  padding-bottom: 0%;
  
  

  
  
  

}
section .info #toggleButton{
  
  width: 100%;
  margin-left: 200%;
  margin-bottom: 100%;
  
}
.info small{
  width: 300%;
  margin-left: 300%;
  padding-bottom:  500%;
  color: aliceblue;
display: flex;
box-shadow: 0 0 20px rgba(40, 241, 33, 0.18);
border-radius: 10px;
  
}
.info h2{
  padding-left: 25%;
  display: flex;
  color: aqua;
   
}


/* ... din befintliga CSS ... */
.kont ul {
  display: none; /* Dölj kontaktinformationen initialt */
  list-style: none;
  color: #4CAF50;
  box-shadow: 0 0 20px rgba(228, 6, 72, 0.18);
  border-radius: 60px;
  
 
}
.kont.show-more ul {
  display: block; /* Visa kontaktinformationen när show-more-klassen läggs till */
margin-right: 10%;
background-color: #9a9dac;
box-shadow: 0 0 60px rgba(228, 6, 72, 0.18);
border-radius: 100px;

  
}

#toggleButton {
  padding: 10px;
  background-color: #4CAF50;
 border: none;
  cursor: pointer;
  margin-right: 50px;
  
  
  
 
  
  
}
.form-box h2{
  color: rgb(204, 218, 219);
 

}
.form-box form{
  box-shadow: 0 0 60px rgba(4, 158, 17, 0.18);

  border-radius: 10px;


}

@media only screen and (max-width:900px) {
  .container img{
    
  }
}
  





nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
 
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  padding: 30px

}

 .project {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  margin-top: 30PX;
  margin-bottom: 50%;
  
  
}
main {
  
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 100px;
  padding-right: 0%;
  


}

.project img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  
}
.overlay {
 position: absolute;
  top: 100px;
  left: 0;
  width: 10%;
  margin: auto;
  height: 10%;
  background: #999966 /* Black overlay with 50% opacity */
  
}

.project h3, .project p {
  position: absolute;
  color: #cc6699 ;
  
  
  text-align: center;
  width: 100%;
  
}

.project h3 {
  top: 50%;
  transform: translateY(-50%);
}



section {
  display: flex;
  
  }

.sub{
  background-color: rgb(12, 78, 12);
  color: aliceblue;
}




